<div class="container">
  <%= render 'partials/header' %>

  <div class="row">
    <div class="col">
      <div id="top-5">
        <h3>Top 5 Customers</h3>
        <% @top5.each do |c| %>
          <p><%= "#{c.first_name} #{c.last_name} Transactions: #{c.transaction_count}" %></p>
        <% end %>
      </div>
    </div>


<div id="top-5">
  <%= react_component("Top5AdminDashboard", { top5: @top5 }) %>
</div>

<div id="incomplete_invoices">
  <h1>Incomplete Invoices</h1>
  <ul>
    <% @incomp_invoices.each do |i| %>
      <%= react_component("InCompleteInvoices", { invoice_id: i.id, date: i.created_at.httpdate }) %>
    <% end %>
  </ul>

</div>