<div class="container">

  <%= render 'partials/header' %>

  <div class="row">

    <div class="col">
      <div id="top-5">
        <%= react_component("Top5AdminDashboard", { top5: @top5 }) %>
      </div>
    </div>


    <div id="incomplete_invoices" class="col">
      <h1>Incomplete Invoices</h1>
      <ul>
        <% @incomp_invoices.each do |i| %>
          <%= react_component("InCompleteInvoices", { invoice_id: i.id, date: i.created_at.httpdate }) %>
        <% end %>
      </ul>

    </div>
  </div>
</div>