<div class="container">
  <%= render 'partials/header' %>
  <div class="row">
    <h1>Admin Merchant Index</h1>
  </div>

  <div class="row">
    <ul class="overflow-auto" id="merchants">
      <% @merchants.each do |m| %>
        <%= react_component("Merchant", {
                            merchant: m,
                            url: admin_merchant_path(m.id),
                            auth_token: form_authenticity_token.to_s
        }) %>
      <% end %>
    </ul>
  </div>
</div>



